set_io serial_rx B10
set_io serial_tx B12
set_io serial_rts B13
set_io serial_cts A15
set_io serial_dtr A16
set_io serial_dsr B14
set_io serial_dcd B15
set_io clk12 J3
set_io user_led0 B5
set_io user_led1 B4
set_io user_led2 A2
set_io user_led3 A1
set_io user_led4 C5
set_io user_led5 C4
set_io user_led6 B3
set_io user_led7 C3
set_io spiflash_cs_n R12
set_io spiflash_clk R11
set_io spiflash_mosi P12
set_io spiflash_miso P11
