NET "serial_tx" LOC=A10 | IOSTANDARD=LVTTL; # serial:0.tx
NET "serial_rx" LOC=A11 | IOSTANDARD=LVTTL | PULLUP; # serial:0.rx
NET "serial_cts" LOC=C10 | IOSTANDARD=LVTTL | PULLUP; # serial:0.cts
NET "serial_rts" LOC=A9 | IOSTANDARD=LVTTL | PULLUP; # serial:0.rts
NET "clk50" LOC=H17 | IOSTANDARD=LVTTL; # clk50:0
NET "user_btn" LOC=N14 | IOSTANDARD=LVTTL | PULLDOWN; # user_btn:0
NET "ddram_clock_p" LOC=G3 | IOSTANDARD=MOBILE_DDR; # ddram_clock:0.p
NET "ddram_clock_n" LOC=G1 | IOSTANDARD=MOBILE_DDR; # ddram_clock:0.n
NET "spiflash4x_cs_n" LOC=V3 | IOSTANDARD=LVTTL | SLEW=FAST; # spiflash4x:0.cs_n
NET "spiflash4x_clk" LOC=R15 | IOSTANDARD=LVTTL | SLEW=FAST; # spiflash4x:0.clk
NET "spiflash4x_dq(0)" LOC=T13 | IOSTANDARD=LVTTL | SLEW=FAST | PULLUP; # spiflash4x:0.dq
NET "spiflash4x_dq(1)" LOC=R13 | IOSTANDARD=LVTTL | SLEW=FAST | PULLUP; # spiflash4x:0.dq
NET "spiflash4x_dq(2)" LOC=T14 | IOSTANDARD=LVTTL | SLEW=FAST | PULLUP; # spiflash4x:0.dq
NET "spiflash4x_dq(3)" LOC=V14 | IOSTANDARD=LVTTL | SLEW=FAST | PULLUP; # spiflash4x:0.dq
NET "ddram_a(0)" LOC=J7 | IOSTANDARD=MOBILE_DDR; # ddram:0.a
NET "ddram_a(1)" LOC=J6 | IOSTANDARD=MOBILE_DDR; # ddram:0.a
NET "ddram_a(2)" LOC=H5 | IOSTANDARD=MOBILE_DDR; # ddram:0.a
NET "ddram_a(3)" LOC=L7 | IOSTANDARD=MOBILE_DDR; # ddram:0.a
NET "ddram_a(4)" LOC=F3 | IOSTANDARD=MOBILE_DDR; # ddram:0.a
NET "ddram_a(5)" LOC=H4 | IOSTANDARD=MOBILE_DDR; # ddram:0.a
NET "ddram_a(6)" LOC=H3 | IOSTANDARD=MOBILE_DDR; # ddram:0.a
NET "ddram_a(7)" LOC=H6 | IOSTANDARD=MOBILE_DDR; # ddram:0.a
NET "ddram_a(8)" LOC=D2 | IOSTANDARD=MOBILE_DDR; # ddram:0.a
NET "ddram_a(9)" LOC=D1 | IOSTANDARD=MOBILE_DDR; # ddram:0.a
NET "ddram_a(10)" LOC=F4 | IOSTANDARD=MOBILE_DDR; # ddram:0.a
NET "ddram_a(11)" LOC=D3 | IOSTANDARD=MOBILE_DDR; # ddram:0.a
NET "ddram_a(12)" LOC=G6 | IOSTANDARD=MOBILE_DDR; # ddram:0.a
NET "ddram_ba(0)" LOC=F2 | IOSTANDARD=MOBILE_DDR; # ddram:0.ba
NET "ddram_ba(1)" LOC=F1 | IOSTANDARD=MOBILE_DDR; # ddram:0.ba
NET "ddram_cke" LOC=H7 | IOSTANDARD=MOBILE_DDR; # ddram:0.cke
NET "ddram_ras_n" LOC=L5 | IOSTANDARD=MOBILE_DDR; # ddram:0.ras_n
NET "ddram_cas_n" LOC=K5 | IOSTANDARD=MOBILE_DDR; # ddram:0.cas_n
NET "ddram_we_n" LOC=E3 | IOSTANDARD=MOBILE_DDR; # ddram:0.we_n
NET "ddram_dq(0)" LOC=L2 | IOSTANDARD=MOBILE_DDR; # ddram:0.dq
NET "ddram_dq(1)" LOC=L1 | IOSTANDARD=MOBILE_DDR; # ddram:0.dq
NET "ddram_dq(2)" LOC=K2 | IOSTANDARD=MOBILE_DDR; # ddram:0.dq
NET "ddram_dq(3)" LOC=K1 | IOSTANDARD=MOBILE_DDR; # ddram:0.dq
NET "ddram_dq(4)" LOC=H2 | IOSTANDARD=MOBILE_DDR; # ddram:0.dq
NET "ddram_dq(5)" LOC=H1 | IOSTANDARD=MOBILE_DDR; # ddram:0.dq
NET "ddram_dq(6)" LOC=J3 | IOSTANDARD=MOBILE_DDR; # ddram:0.dq
NET "ddram_dq(7)" LOC=J1 | IOSTANDARD=MOBILE_DDR; # ddram:0.dq
NET "ddram_dq(8)" LOC=M3 | IOSTANDARD=MOBILE_DDR; # ddram:0.dq
NET "ddram_dq(9)" LOC=M1 | IOSTANDARD=MOBILE_DDR; # ddram:0.dq
NET "ddram_dq(10)" LOC=N2 | IOSTANDARD=MOBILE_DDR; # ddram:0.dq
NET "ddram_dq(11)" LOC=N1 | IOSTANDARD=MOBILE_DDR; # ddram:0.dq
NET "ddram_dq(12)" LOC=T2 | IOSTANDARD=MOBILE_DDR; # ddram:0.dq
NET "ddram_dq(13)" LOC=T1 | IOSTANDARD=MOBILE_DDR; # ddram:0.dq
NET "ddram_dq(14)" LOC=U2 | IOSTANDARD=MOBILE_DDR; # ddram:0.dq
NET "ddram_dq(15)" LOC=U1 | IOSTANDARD=MOBILE_DDR; # ddram:0.dq
NET "ddram_dqs(0)" LOC=L4 | IOSTANDARD=MOBILE_DDR; # ddram:0.dqs
NET "ddram_dqs(1)" LOC=P2 | IOSTANDARD=MOBILE_DDR; # ddram:0.dqs
NET "ddram_dm(0)" LOC=K3 | IOSTANDARD=MOBILE_DDR; # ddram:0.dm
NET "ddram_dm(1)" LOC=K4 | IOSTANDARD=MOBILE_DDR; # ddram:0.dm


NET "base50_clk" TNM_NET = "PRDbase50_clk";
TIMESPEC "TSbase50_clk" = PERIOD "PRDbase50_clk" 20 ns HIGH 50%;



NET "sys_clk" TNM_NET = "PRDsys_clk";
TIMESPEC "TSsys_clk" = PERIOD "PRDsys_clk" 12.0 ns HIGH 50%;



NET "clk50" TNM_NET = "PRDclk50";
TIMESPEC "TSclk50" = PERIOD "PRDclk50" 20 ns HIGH 50%;
