NET "serial_rx" LOC=A16 | IOSTANDARD=LVCMOS33; # serial:0.rx
NET "serial_tx" LOC=B16 | IOSTANDARD=LVCMOS33; # serial:0.tx
NET "clk100" LOC=L15 | IOSTANDARD=LVCMOS33; # clk100:0
NET "cpu_reset" LOC=T15 | IOSTANDARD=LVCMOS33; # cpu_reset:0
NET "ddram_clock_p" LOC=G3 | IOSTANDARD=DIFF_SSTL18_II | IN_TERM=NONE; # ddram_clock:0.p
NET "ddram_clock_n" LOC=G1 | IOSTANDARD=DIFF_SSTL18_II | IN_TERM=NONE; # ddram_clock:0.n
NET "spiflash4x_cs_n" LOC=V3 | IOSTANDARD=LVCMOS33 | SLEW=FAST; # spiflash4x:0.cs_n
NET "spiflash4x_clk" LOC=R15 | IOSTANDARD=LVCMOS33 | SLEW=FAST; # spiflash4x:0.clk
NET "spiflash4x_dq(0)" LOC=T13 | IOSTANDARD=LVCMOS33 | SLEW=FAST; # spiflash4x:0.dq
NET "spiflash4x_dq(1)" LOC=R13 | IOSTANDARD=LVCMOS33 | SLEW=FAST; # spiflash4x:0.dq
NET "spiflash4x_dq(2)" LOC=T14 | IOSTANDARD=LVCMOS33 | SLEW=FAST; # spiflash4x:0.dq
NET "spiflash4x_dq(3)" LOC=V14 | IOSTANDARD=LVCMOS33 | SLEW=FAST; # spiflash4x:0.dq
NET "ddram_cke" LOC=H7 | IOSTANDARD=SSTL18_II; # ddram:0.cke
NET "ddram_ras_n" LOC=L5 | IOSTANDARD=SSTL18_II; # ddram:0.ras_n
NET "ddram_cas_n" LOC=K5 | IOSTANDARD=SSTL18_II; # ddram:0.cas_n
NET "ddram_we_n" LOC=E3 | IOSTANDARD=SSTL18_II; # ddram:0.we_n
NET "ddram_ba(0)" LOC=F2 | IOSTANDARD=SSTL18_II; # ddram:0.ba
NET "ddram_ba(1)" LOC=F1 | IOSTANDARD=SSTL18_II; # ddram:0.ba
NET "ddram_ba(2)" LOC=E1 | IOSTANDARD=SSTL18_II; # ddram:0.ba
NET "ddram_a(0)" LOC=J7 | IOSTANDARD=SSTL18_II; # ddram:0.a
NET "ddram_a(1)" LOC=J6 | IOSTANDARD=SSTL18_II; # ddram:0.a
NET "ddram_a(2)" LOC=H5 | IOSTANDARD=SSTL18_II; # ddram:0.a
NET "ddram_a(3)" LOC=L7 | IOSTANDARD=SSTL18_II; # ddram:0.a
NET "ddram_a(4)" LOC=F3 | IOSTANDARD=SSTL18_II; # ddram:0.a
NET "ddram_a(5)" LOC=H4 | IOSTANDARD=SSTL18_II; # ddram:0.a
NET "ddram_a(6)" LOC=H3 | IOSTANDARD=SSTL18_II; # ddram:0.a
NET "ddram_a(7)" LOC=H6 | IOSTANDARD=SSTL18_II; # ddram:0.a
NET "ddram_a(8)" LOC=D2 | IOSTANDARD=SSTL18_II; # ddram:0.a
NET "ddram_a(9)" LOC=D1 | IOSTANDARD=SSTL18_II; # ddram:0.a
NET "ddram_a(10)" LOC=F4 | IOSTANDARD=SSTL18_II; # ddram:0.a
NET "ddram_a(11)" LOC=D3 | IOSTANDARD=SSTL18_II; # ddram:0.a
NET "ddram_a(12)" LOC=G6 | IOSTANDARD=SSTL18_II; # ddram:0.a
NET "ddram_dq(0)" LOC=L2 | IOSTANDARD=SSTL18_II; # ddram:0.dq
NET "ddram_dq(1)" LOC=L1 | IOSTANDARD=SSTL18_II; # ddram:0.dq
NET "ddram_dq(2)" LOC=K2 | IOSTANDARD=SSTL18_II; # ddram:0.dq
NET "ddram_dq(3)" LOC=K1 | IOSTANDARD=SSTL18_II; # ddram:0.dq
NET "ddram_dq(4)" LOC=H2 | IOSTANDARD=SSTL18_II; # ddram:0.dq
NET "ddram_dq(5)" LOC=H1 | IOSTANDARD=SSTL18_II; # ddram:0.dq
NET "ddram_dq(6)" LOC=J3 | IOSTANDARD=SSTL18_II; # ddram:0.dq
NET "ddram_dq(7)" LOC=J1 | IOSTANDARD=SSTL18_II; # ddram:0.dq
NET "ddram_dq(8)" LOC=M3 | IOSTANDARD=SSTL18_II; # ddram:0.dq
NET "ddram_dq(9)" LOC=M1 | IOSTANDARD=SSTL18_II; # ddram:0.dq
NET "ddram_dq(10)" LOC=N2 | IOSTANDARD=SSTL18_II; # ddram:0.dq
NET "ddram_dq(11)" LOC=N1 | IOSTANDARD=SSTL18_II; # ddram:0.dq
NET "ddram_dq(12)" LOC=T2 | IOSTANDARD=SSTL18_II; # ddram:0.dq
NET "ddram_dq(13)" LOC=T1 | IOSTANDARD=SSTL18_II; # ddram:0.dq
NET "ddram_dq(14)" LOC=U2 | IOSTANDARD=SSTL18_II; # ddram:0.dq
NET "ddram_dq(15)" LOC=U1 | IOSTANDARD=SSTL18_II; # ddram:0.dq
NET "ddram_dqs(0)" LOC=P2 | IOSTANDARD=DIFF_SSTL18_II; # ddram:0.dqs
NET "ddram_dqs(1)" LOC=L4 | IOSTANDARD=DIFF_SSTL18_II; # ddram:0.dqs
NET "ddram_dqs_n(0)" LOC=P1 | IOSTANDARD=DIFF_SSTL18_II; # ddram:0.dqs_n
NET "ddram_dqs_n(1)" LOC=L3 | IOSTANDARD=DIFF_SSTL18_II; # ddram:0.dqs_n
NET "ddram_dm(0)" LOC=K4 | IOSTANDARD=SSTL18_II; # ddram:0.dm
NET "ddram_dm(1)" LOC=K3 | IOSTANDARD=SSTL18_II; # ddram:0.dm
NET "ddram_odt" LOC=K6 | IOSTANDARD=SSTL18_II; # ddram:0.odt
NET "eth_clocks_tx" LOC=K16 | IOSTANDARD=LVCMOS33; # eth_clocks:0.tx
NET "eth_clocks_gtx" LOC=L12 | IOSTANDARD=LVCMOS33; # eth_clocks:0.gtx
NET "eth_clocks_rx" LOC=K15 | IOSTANDARD=LVCMOS33; # eth_clocks:0.rx
NET "eth_rst_n" LOC=G13 | IOSTANDARD=LVCMOS33; # eth:0.rst_n
NET "eth_int_n" LOC=L16 | IOSTANDARD=LVCMOS33; # eth:0.int_n
NET "eth_mdio" LOC=N17 | IOSTANDARD=LVCMOS33; # eth:0.mdio
NET "eth_mdc" LOC=F16 | IOSTANDARD=LVCMOS33; # eth:0.mdc
NET "eth_rx_dv" LOC=F17 | IOSTANDARD=LVCMOS33; # eth:0.rx_dv
NET "eth_rx_er" LOC=F18 | IOSTANDARD=LVCMOS33; # eth:0.rx_er
NET "eth_rx_data(0)" LOC=G16 | IOSTANDARD=LVCMOS33; # eth:0.rx_data
NET "eth_rx_data(1)" LOC=H14 | IOSTANDARD=LVCMOS33; # eth:0.rx_data
NET "eth_rx_data(2)" LOC=E16 | IOSTANDARD=LVCMOS33; # eth:0.rx_data
NET "eth_rx_data(3)" LOC=F15 | IOSTANDARD=LVCMOS33; # eth:0.rx_data
NET "eth_rx_data(4)" LOC=F14 | IOSTANDARD=LVCMOS33; # eth:0.rx_data
NET "eth_rx_data(5)" LOC=E18 | IOSTANDARD=LVCMOS33; # eth:0.rx_data
NET "eth_rx_data(6)" LOC=D18 | IOSTANDARD=LVCMOS33; # eth:0.rx_data
NET "eth_rx_data(7)" LOC=D17 | IOSTANDARD=LVCMOS33; # eth:0.rx_data
NET "eth_tx_en" LOC=H15 | IOSTANDARD=LVCMOS33; # eth:0.tx_en
NET "eth_tx_er" LOC=G18 | IOSTANDARD=LVCMOS33; # eth:0.tx_er
NET "eth_tx_data(0)" LOC=H16 | IOSTANDARD=LVCMOS33; # eth:0.tx_data
NET "eth_tx_data(1)" LOC=H13 | IOSTANDARD=LVCMOS33; # eth:0.tx_data
NET "eth_tx_data(2)" LOC=K14 | IOSTANDARD=LVCMOS33; # eth:0.tx_data
NET "eth_tx_data(3)" LOC=K13 | IOSTANDARD=LVCMOS33; # eth:0.tx_data
NET "eth_tx_data(4)" LOC=J13 | IOSTANDARD=LVCMOS33; # eth:0.tx_data
NET "eth_tx_data(5)" LOC=G14 | IOSTANDARD=LVCMOS33; # eth:0.tx_data
NET "eth_tx_data(6)" LOC=H12 | IOSTANDARD=LVCMOS33; # eth:0.tx_data
NET "eth_tx_data(7)" LOC=K12 | IOSTANDARD=LVCMOS33; # eth:0.tx_data
NET "eth_col" LOC=C17 | IOSTANDARD=LVCMOS33; # eth:0.col
NET "eth_crs" LOC=C18 | IOSTANDARD=LVCMOS33; # eth:0.crs

CONFIG VCCAUX="3.3";


NET "base50_clk" TNM_NET = "PRDbase50_clk";
TIMESPEC "TSbase50_clk" = PERIOD "PRDbase50_clk" 20 ns HIGH 50%;



NET "sys_clk" TNM_NET = "PRDsys_clk";
TIMESPEC "TSsys_clk" = PERIOD "PRDsys_clk" 13.333333333333334 ns HIGH 50%;



NET "eth_rx_clk" TNM_NET = "PRDeth_rx_clk";
TIMESPEC "TSeth_rx_clk" = PERIOD "PRDeth_rx_clk" 8.0 ns HIGH 50%;



NET "sys_clk" TNM_NET = "TIGsys_clk";
NET "eth_rx_clk" TNM_NET = "TIGeth_rx_clk";
TIMESPEC "TSsys_clkTOeth_rx_clk" = FROM "TIGsys_clk" TO "TIGeth_rx_clk" TIG;



NET "eth_rx_clk" TNM_NET = "TIGeth_rx_clk";
NET "sys_clk" TNM_NET = "TIGsys_clk";
TIMESPEC "TSeth_rx_clkTOsys_clk" = FROM "TIGeth_rx_clk" TO "TIGsys_clk" TIG;



# FIXME: ERROR:Place:1108 - A clock IOB / BUFGMUX clock component pair have
# been found that are not placed at an optimal clock IOB / BUFGMUX site pair.
# The clock IOB component <eth_clocks_rx> is placed at site <K15>.
NET "eth_clocks_rx" CLOCK_DEDICATED_ROUTE = FALSE;
# The IOB component <eth_clocks_tx> is placed at site <K16>.
NET "eth_clocks_tx" CLOCK_DEDICATED_ROUTE = FALSE;



NET "clk100" TNM_NET = "PRDclk100";
TIMESPEC "TSclk100" = PERIOD "PRDclk100" 10.0 ns HIGH 50%;



NET "clk100" TNM_NET = "PRDclk100";
TIMESPEC "TSclk100" = PERIOD "PRDclk100" 10.0 ns HIGH 50%;



NET "eth_clocks_rx" TNM_NET = "PRDeth_clocks_rx";
TIMESPEC "TSeth_clocks_rx" = PERIOD "PRDeth_clocks_rx" 40.0 ns HIGH 50%;
