set_io serial_rx P2
set_io serial_tx P3
set_io clk12 P7
set_io user_led0 C10
set_io user_led1 A10
set_io user_led2 D7
set_io user_led3 D6
set_io user_led4 A7
set_io user_led5 C7
set_io user_led6 A4
set_io user_led7 C4
set_io user_led8 C5
set_io user_led9 A6
set_io user_led10 D10
set_io user_led11 A12
set_io user_btn0 A5
set_io user_btn1 A11
set_io user_btn2 C6
set_io user_btn3 C11
set_io spiflash_cs_n P13
set_io spiflash_clk P12
set_io spiflash_mosi M11
set_io spiflash_miso P11
