set_io serial_rx 6
set_io serial_tx 9
set_io clk12 35
set_io user_btn_n 10
set_io user_led0 26
set_io user_led1 27
set_io user_led2 25
set_io user_led3 23
set_io user_led4 21
set_io user_btn0 20
set_io user_btn1 19
set_io user_btn2 18
set_io spiflash_cs_n 16
set_io spiflash_clk 15
set_io spiflash_miso 17
set_io spiflash_mosi 14
set_io spiflash_wp 12
set_io spiflash_hold 13
